# ==============================================================================
# MedTrack Environment Configuration Template
# ==============================================================================

# Database Settings
POSTGRES_DB=medtrack
POSTGRES_USER=medtrack
POSTGRES_PASSWORD=medtrack
POSTGRES_PORT=5432

# Backend Security
MEDTRACK_JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
MEDTRACK_JWT_EXPIRATION_MS=900000

# Frontend Exposed Port
FRONTEND_PORT=80